@import "../../../../scss/index.scss";

.productos {
  background: #fff;

  &__row {
    &-alta {
      height: 80px;
      width: 100%;

      &-medio {
        background-color: #d1d100;
        height: 60px;
        width: 100%;
        margin: 10px 0px 0px 0px;

        &-h1 {
          font-family: Roboto;
          font-size: 45px;
          font-weight: 700;
          letter-spacing: 10px;
          color: #fff;
          text-align: center;
          text-shadow: 2px 2px 2px gray;
          height: 70px;
          margin-bottom: 5px;
        }
      }
    }

    &-baja {
      height: 50px;
      width: 100%;
    }
  }

  &__fondo {
    background-image: url("../../../../assets/img/png/FONDO_7_8_9.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    height: 630px;
  }

  &__row-contenido_1 {
    width: 30%;
    height: 100%;
    position: relative;

    &-boton {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 17% 0% 0% 12%;
      position: absolute;
      width: 72%;
      height: 67%;
      background-color: #fff;
      border-radius: 50%;
      background-image: url("../../../../assets/img/jpg/Recurso_1.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      vertical-align: middle;

      .ant-typography {
        color: #fff;
        overflow-wrap: break-word;
        text-align: center;
        font-family: Roboto;
        font-size: 35px;
        font-weight: 500;
        letter-spacing: 5px;
      }
    }
  }
  &__row-contenido_2 {
    width: 70%;
    height: 100%;

    &-titulo {
      width: 100%;
      height: 25%;
      justify-content: center;
      padding-top: 4%;

      .ant-typography {
        color: #fff;
        overflow-wrap: break-word;
        text-align: center;
        vertical-align: bottom;
        font-family: Roboto;
        font-size: 50px;
        font-weight: 900;
        letter-spacing: 5px;
        text-shadow: 5px 5px 5px lightslategrey;
      }
    }

    &-lista {
      width: 100%;
      height: 75%;
      margin-top: 0px;
    }
  }
  &__col {
    height: 100%;
    width: 100%;

    &-button {
      background-color: transparent;
      border-color: transparent;
      height: 100%;
      width: 100%;

      &-h1 {
        text-align: center;
        padding: 250px 250px 25px 25px;
        color: #fff;
        font-family: Roboto;
        font-size: 40px;
        font-weight: 900;
        letter-spacing: 10px;
      }

      &-h1_2 {
        text-align: center;
        padding: 25px 25px 25px 250px;
        color: #fff;
        font-family: Roboto;
        font-size: 40px;
        font-weight: 900;
        letter-spacing: 10px;
      }
    }

    .ant-btn:hover,
    .ant-btn:focus,
    .ant-btn:active {
      text-decoration: none;
      background-color: transparent;
      border-color: transparent;
    }
  }

  &__row-bajo {
    width: 100%;
    height: 50px;
  }

  &__footer {
    background-color: #fff;
    padding: 0px;
  }
}
