@import "../../../scss/index.scss";

.editar-form {
  font-family: Roboto;
  letter-spacing: 2px;
  justify-content: center;
  width: 100%;
  background-color: $background-light;
  text-align: center;

  .upload {
    width: 100%;
    display: table;
    margin: 0 auto;
    border-style: dashed;
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.25);
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 15px;
    border-color: $primary-color;
    border-width: 3px;
    padding: 10px;
    margin-bottom: 20px;

    &__modal {
      .ant-modal-content {
        width: 800px;
        border-radius: 30px;
      }

      .ant-modal-header {
        background-color: #f4e995;
        border-radius: 30px 30px 0px 0px;
        height: 50px;
        width: 100%;
        justify-content: center;
      }

      .ant-modal-title {
        font-family: Roboto;
        font-size: 25px;
        font-weight: 800;
        letter-spacing: 4px;
        color: #5b5b5b;
        text-align: center;
        height: 70px;
        margin-bottom: 5px;
      }

      .ant-modal-body {
        padding: 24px;
        font-size: 14px;
        line-height: 1.5715;
        word-wrap: break-word;
      }
    }
  }

  &__titulo {
    background-color: #f4e995;
    height: 40px;
    width: 100%;
    justify-content: center;

    &-h1 {
      font-family: Roboto;
      font-size: 25px;
      font-weight: 800;
      letter-spacing: 4px;
      color: #5b5b5b;
      text-align: center;
      height: 70px;
      margin-bottom: 5px;
    }
  }
  .ant-modal-content {
    border-radius: 30px;
    padding: 0px;
  }
  .ant-row {
    margin-bottom: 10px;
  }
  .ant-input-affix-wrapper:hover {
    border-color: $primary-color;
    text-align: left;
  }

  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: $primary-color;
    text-align: left;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 15px;
    border-color: $primary-color;
    border-width: 3px;
    text-align: left;
  }
  .ant-upload.ant-upload-select {
    width: 100%;
    border-radius: 15px;
    border-color: $primary-color;
    border-width: 3px;
  }

  .ant-btn {
    color: rgba(0, 0, 0, 0.3);
    font-family: Roboto;
    letter-spacing: 2px;
    border-radius: 15px;
    border-color: $primary-color;
    border-width: 3px;
  }
  .ant-btn:active {
    color: rgba(0, 0, 0, 0.3);
    background: $primary-color;
    border-color: $primary-color;
  }

  &__input {
    font-family: Roboto;
    letter-spacing: 2px;
    border-radius: 15px;
    border-color: $primary-color;
    border-width: 3px;

    .ant-input-prefix {
      i {
        font-size: 0em + 22px / $defaultFontSize;
      }
    }

    input {
      font-family: Roboto;
      letter-spacing: 2px;
      width: 100%;
      font-size: 0em + 16px / $defaultFontSize;
      &:focus {
        border-color: $primary-color;
        box-shadow: none;
      }
    }

    textarea {
      &:focus {
        border-color: $primary-color;
        box-shadow: none;
      }
    }
  }
  &_button {
    background-color: $primary-color;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 15px;
    border-color: $primary-color;
    border-width: 3px;
    width: 200px;
    height: 50px;

    span {
      color: $font-dark-light;
    }
  }
}
