@import "../../../scss/index.scss";

.informacion {
  border-radius: 30px;
  background-color: $background-light;
  margin: 50px 100px 70px 100px;

  &__row {
    &-alta {
      height: 30px;
      width: 100%;
    }

    &-medio {
      background-color: #f4e995;
      height: 40px;
      width: 100%;
      justify-content: center;

      &-h1 {
        font-family: Roboto;
        font-size: 25px;
        font-weight: 800;
        letter-spacing: 4px;
        color: #5b5b5b;
        text-align: center;
        height: 70px;
        margin-bottom: 5px;
      }
      &-icono {
        color: #5b5b5b;
        font-size: 25px;
        padding: 5px 0px 0px 20px;
      }
    }
  }

  &__content {
    padding: 50px;
    width: 100%;
    height: 100%;
    &-titulo {
      width: 100%;
      height: 10%;
      text-align: center;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 5px;
    }
    &-info {
      width: 100%;
      height: 90%;
      text-align: justify;
      font-family: Roboto;
      font-size: 20px;
      letter-spacing: 5px;
      padding-bottom: 25px;
      line-height: 60px;
    }
  }
}
