@import "../scss/index.scss";

.layout-admin {
  transition: margin-left 0.2s;

  &__img {
    background-image: url("../assets/img/png/franja_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 32px;
    width: 100%;
  }

  &__header {
    background-color: $background-light;
    position: initial;
    width: 100%;
    display: flex;
    padding: 0;
    height: 130px;
    width: 100%;
  }

  &__menu {
    background-color: $background-light;
    vertical-align: top;

    &-logo {
      width: 100px;
      height: 85px;
      margin: 25px 10px 0px 55px;
    }

    &-title {
      margin-top: 40px;
      font-family: Roboto;
      color: $primary-color-hover;

      &-h1 {
        font-family: Roboto;
        font-size: 21px;
        font-weight: bolder;
        letter-spacing: 10px;
        color: $primary-color-hover;
        height: 25px;
      }

      &-h2 {
        font-family: Roboto;
        font-size: 19px;
        font-weight: lighter;
        letter-spacing: 10px;
        color: $primary-color-hover;
        height: 20px;
      }
    }

    &-right {
      position: absolute;
      right: 0;
      margin: 40px 0px 0px 100px;

      &-items {
        align-items: right;
        font-family: Roboto;
        font-size: 15px;
        letter-spacing: 10px;
        padding: 0px 0px 0px 70px;
      }

      &-dropdown {
        text-align: right;
        &-item {
          color: #5b5b5b;
          font-family: Roboto;
          font-size: 15px;
          letter-spacing: 10px;
        }
      }
    }
  }

  &__footer {
    margin-top: auto;
    padding: 0px;
    &-img {
      background-image: url("../assets/img/png/franja_3.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 40px;
      width: 100%;
    }
  }

  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
    color: $primary-color-hover;
    border-bottom: 2px solid $primary-color-hover;
    a {
      color: $primary-color-hover;
    }
  }

  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
    margin: 0px 30px 0px 0px;
  }

  .ant-btn {
    color: #5b5b5b;
    border-color: transparent;
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: 10px;
  }
  .ant-btn:active {
    color: $primary-color-hover;
  }

  .ant-dropdown-menu-item > a,
  .ant-dropdown-menu-submenu-title > a {
    color: #5b5b5b;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 10px;
  }
}
